mat-card{
    color: yellow;
    line-height: 1.1;
    background-color: rgb(0, 0, 0);
    border-radius: 3rem;
    padding: 1.5rem;
    p{
        color: rgb(255, 255, 198)
    }
}
.mat-card-title{
    text-decoration: underline;
}

.titleStyle{
    font-size: 1.5rem;
    font-weight: 800;
}
.list-unstyled{
    text-align: left;
}
@media (max-width: 768px) {
    .list-unstyled{
        text-align: center;
    }
}