<div>
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">i3D Task</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.starwars.com/">Star Wars</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Developers LinkedIn" target="_blank" href="https://www.linkedin.com/in/gonzalodelcorral/">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- Header -->
<div class="container text-center">
  <img width="270" alt="Angular Logo" src="http://diamondselecttoys.com.s3.amazonaws.com/uploads/2019/04/10225149/star-wars-black-logo.jpg">
  <app-search (character)="update($event)" class="d-flex justify-content-center"></app-search>
  <div *ngIf="message" class="cardPos">
    <app-card [character]="message"></app-card>
  </div>
</div>
<!-- Footer -->
<footer  class=" bg-dark text-white-50">
    <div class="container text-center">
      <a  target="_blank"  data-toggle="tooltip" data-placement="top" title="Developers GitHub" style="color: inherit;" href="https://www.github.com/Gecete/">Copyright &copy; www.github.com/Gecete</a>
    </div>
  </footer>
<!-- Footer -->
</div>