body{
     line-height: 0.4;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Mono' !important;
}
p, div {
    font-family: 'Space Mono' !important;
}

html,body { 
    margin:0;
    height:100%; 
}

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:30px; }

footer{ 
  position:fixed; 
  bottom:0; 
  width:100%; 
  height:30px; 
  div{
      padding-top: 10px;
  }
}